<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Player Registration</h1>
    <form th:action="@{/register-player}" th:method="post" th:object="${player}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name is mandatory</div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is invalid</div>
        </div>
        <div>
            <label for="tel">Telephone:</label>
            <input type="number" th:field="*{telephone}" id="tel">
        </div>

        <div>
            <label>Pick a codename group</label>
            <div th:each="group : ${codenameGroups}">
                <input type="radio" th:field="*{groupName}" th:value="${group.name()}" th:id="${group.name()}" required>
                <label th:for="${group.name()}" th:text="${group.getValue()}"></label>
            </div>
            <div th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">Codename group not selected</div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Register</button>
            <a th:href="@{/players-list}" class="btn btn-primary">List of Players</a>
        </div>

        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}" style="color:red;"></p>
        </div>
    </form>
</div>
</body>
</html>